pipeline/pl_fullload_class.json
{
	"name": "pl_fullload_class",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source_parameter",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Inputcontainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_parameter",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.metadata where flag='1'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metdatasql",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.metadataschema",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.metadatafilename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('Truncate table ',item().sqlschema,'.',item().sqltablename)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sink_parameter",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sqldataset",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sqlschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().sqltablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"metadataschema": {
				"type": "string"
			},
			"metadatafilename": {
				"type": "string"
			}
		},
		"variables": {
			"Metadata": {
				"type": "Array",
				"defaultValue": [
					{
						"Inputfile": "Employee.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"Outputfile": "Employee.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach"
					},
					{
						"Inputfile": "Department.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"Outputfile": "Department.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach1"
					},
					{
						"Inputfile": "Sample_data.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"Outputfile": "Sample_data.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach2"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-18T09:31:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}